<h2>{{feature.pagetitle}}</h2>

{{#if feature.activities}}
    <h4>Activities:</h4>
    <ul class="activities-icon-list">
        {{#each activity_icons}}
            <li><img src="{{this.src}}" title="{{this.title}}" alt="{{this.title}}"></li>
        {{/each}}
    </ul>
{{/if}}

{{#if img}}
    <img src="{{img.src}}" width="{{img.width}}" height="{{img.height}}" alt="{{feature.pagetitle}}">
{{/if}}

{{#if feature.descr}}
    <div class="feature-description">{{feature.descr}}</div>
{{/if}}

{{#if feature.cmp_url}}
    <ul class="nobull">
        <li><a href="{{feature.main_site_url}}" target="_blank">More info</a></li>
    </ul>
{{/if}}

<h4>GPS coordinates:</h4>
<div class="small-light">
    {{feature.coords_formatted}}
</div>